<div class="bg-image">
  <div class="login-card">
    <div class="logo">
      <img src="../../../assets/images/logo.png" />
    </div>
    <div class="form-container">
      <form class={{signClass}} name="form" [formGroup]="form" (ngSubmit)="createUser(form)">
        <div class="form-group">
          <ion-item>
            <ion-label position="floating">שם פרטי</ion-label>
            <ion-input formControlName="firstName" type="text"></ion-input>
            <ion-icon slot="start" name="person"></ion-icon>
          </ion-item>
        </div>
        <div class="form-group">
          <ion-item>
            <ion-label position="floating">שם משפחה</ion-label>
            <ion-input formControlName="lastName" type="text"></ion-input>
            <ion-icon slot="start" name="person"></ion-icon>
          </ion-item>

        </div>
        <div class="form-group">
          <ion-item>
            <ion-label position="floating">דוא"ל</ion-label>
            <ion-input formControlName="email" type="text"></ion-input>
            <ion-icon slot="start" name="mail"></ion-icon>
          </ion-item>

        </div>
        <div class="form-group">
          <ion-item>
            <ion-label position="floating">סיסמה</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
            <ion-icon slot="start" name="unlock"></ion-icon>
          </ion-item>

        </div>
        <div class="form-group">
          <ion-item>
            <ion-label position="floating">אימות סיסמה</ion-label>
            <ion-input formControlName="confirmPassword" type="password"></ion-input>
            <ion-icon slot="start" name="unlock"></ion-icon>
          </ion-item>

        </div>
        <button class="form-control btn btn-primary"
          [disabled]="form.invalid || (form.get('confirmPassword').value !== form.get('password').value)"
          type="submit">הרשמה</button>

        <a class="btn btn-primary switch-form-btn" (click)="navLogin()">
          חזרה להתחברות
        </a>
      </form>
    </div>
  </div>
</div>

